[Unit]
Description=Service to manage the PWM fan.
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/pwm-fan
ExecStart=/usr/bin/fan-manager.sh $MANAGER_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
