Source: ina2xx
Section: misc
Priority: optional
Maintainer: Sergey Prokhorov <seriy.pr@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-exec,
 flex,
 bison,
Standards-Version: 4.7.2
Homepage: https://github.com/radxa/kernel
#Vcs-Browser: https://salsa.debian.org/debian/rtl8733bu
#Vcs-Git: https://salsa.debian.org/debian/rtl8733bu.git

Package: linux-ina2xx-module
Architecture: arm64
Depends:
 ${misc:Depends},
 ${KERNEL},
Description: Ina2xx linux kernel module
 Kernel module hwmon ina2xx.

Package: radxa-zero3-ina2xx-overlay
Architecture: any
Depends:
 linux-ina2xx-module,
 rsetup,
Description: Device tree overlay for ina2xx radxa zero 3w
 Device tree overlay for ina2xx kernel driver.
 It assumes 0.1 Ohm shunt (R100) and i2c address 0x44.
 Keep in mind that this package enables I2C on
 i2c3-m0 (pins 3 and 5).