name: Build
on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    name: Build for ${{ matrix.debian_codename }}
    strategy:
      matrix:
        debian_codename:
          - bullseye
          - bookworm
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Cache debian
        id: cache-debian
        uses: actions/cache@v4
        with:
          path: |
            .${{ matrix.debian_codename }}_apt_cache
            debian-*-generic-arm64.tar
          key: ${{ matrix.debian_codename }}-build-files

      - name: Install deps
        run: |
          ./build.sh install_dependencies

      - name: Build
        run: |
          ./build.sh --debian-codename ${{ matrix.debian_codename }} all_deb
          sudo rm -r .${{ matrix.debian_codename }}_apt_cache/archives/{lock,partial}

      - name: Build APT repository
        run: |
          cat << EOF | gpg --yes --batch --import
          ${{ secrets.DEB_REPO_GPG_KEY }}
          EOF
          ./build.sh --debian-codename ${{ matrix.debian_codename }} apt_repository
          if [ "${{ matrix.debian_codename }}" == "bookworm" ]; then
            cp index.html ~/.aptly/public/
            cp public.gpg ~/.aptly/public/
          fi
          ls -R ~/.aptly/public

      - name: Upload APT repo as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.debian_codename }}-apt
          path: |
            ~/.aptly/public

  # Publishing the DEB repo as GitHub pages
  # See:
  # https://docs.github.com/en/pages/getting-started-with-github-pages/using-custom-workflows-with-github-pages
  # https://docs.github.com/en/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site#creating-a-custom-github-actions-workflow-to-publish-your-site
  deploy:
    name: Deploy apt repo to GitHub pages
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      id-token: "write"
      pages: "write"
    steps:
      - name: Download repos
        uses: actions/download-artifact@v5
        with:
          run-id: ${{ github.run_id }}  # Download all artifacts
          merge-multiple: true
          path: _site/

      - name: List
        run: find .

      - name: "Setup GitHub Pages"
        uses: "actions/configure-pages@v5"

      - name: "Upload artifact"
        uses: "actions/upload-pages-artifact@v3"
        with:
          path: _site/

      - id: "deploy"
        if: "github.event_name != 'pull_request'"
        name: "Deploy to GitHub Pages"
        uses: "actions/deploy-pages@v4"
  build_image:
    name: Build OS image
    runs-on: ubuntu-24.04-arm
    needs:
      - deploy
    strategy:
      matrix:
        debian_codename:
          # - bullseye
          - bookworm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build img
        run: |
          ./build.sh radxa_image --debian-codename ${{ matrix.debian_codename }}
          mv radxa-image-${{ matrix.debian_codename }}-min.img radxa-image-${{ matrix.debian_codename }}-min-0.0.1.img
          xz radxa-image-${{ matrix.debian_codename }}-min-0.0.1.img

      - name: Upload image as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.debian_codename }}-img
          path: |
            radxa-image-${{ matrix.debian_codename }}-min-0.0.1.img.xz
